.container {
  padding: 50px;
}

.cube {
  animation: spinCube 8s infinite ease;
  height: 200px;
  position: relative;
  transform-style: preserve-3d;
  width: 200px;
}

.cube__face {
  align-items: center;
  background-color: rgba(155, 155, 155, 0.8);
  border: solid 2px #111;
  display: flex;
  font-size: 40px;
  height: 200px;
  justify-content: center;
  position: absolute;
  width: 200px;
}

.cube__face--front {
  transform: rotateY(0deg) translateZ(100px);
}

.cube__face--right {
  transform: rotateY(90deg) translateZ(100px);
}

.cube__face--back {
  transform: rotateY(180deg) translateZ(100px);
}

.cube__face--left {
  transform: rotateY(-90deg) translateZ(100px);
}

.cube__face--top {
  transform: rotateX(90deg) translateZ(100px);
}

.cube__face--bottom {
  transform: rotateX(-90deg) translateZ(100px);
}

@keyframes spinCube {
  0% {
    transform: rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: rotateX(360deg) rotateY(360deg);
  }
  68% {
    transform: rotateX(390deg) rotateY(380deg);
  }
  85% {
    transform: rotateX(650deg);
  }
  100% {
    transform: rotateX(720deg);
  }
}
